#fps-range {
  border: none;
}

.color-container {
  padding: 10px 0px;
}

.color-box {
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  line-height: 0px;
}

.color-part {
  /* margin-right: -4px; */
  width: 30px;
  height: 30px;
  display: inline-block;
}

.btn-wrap {
  width: -webkit-fill-available;
  margin: 10px 0;
}

h3 {
  margin: 0px 20px;
  text-align: center;
  font-family: 'Spectral SC', serif;
}
