#fps-range {
  border: none;
}

.color-container {
  padding: 20px;
}

.color-box {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  line-height: 0px;
}

.color-part {
  /* margin-right: -4px; */
  width: 30px;
  height: 30px;
  display: inline-block;
}
