#fps-range {
  border: none;
}

.color-container {
  padding: 10px 0px;
}

.color-box {
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  line-height: 0px;
}

.color-part {
  /* margin-right: -4px; */
  width: 30px;
  height: 30px;
  display: inline-block;
}

.btn-wrap {
  width: -webkit-fill-available;
  margin: 10px 0;
}

.header-div {
  font-family: 'Spectral SC', serif;
  text-align: center;
}

h3 {
  margin: 0px 20px 10px;
}

h6 {
  margin: 0px 20px;
  font-size: 20px;
}

.bg-color {
  background-color: #011a27;
}

.primary-color {
  background-color: #f0810f;
}

.secondary-color {
  background-color: #e6df44;
}

.primary-text-color {
  color: #f0810f;
}

.secondary-text-color {
  color: #e6df44;
}

.light-color {
  color: #efefef;
}

.dark-color {
  color: #333333;
}

.light-text-color {
  color: #efefef;
}

.dark-text-color {
  color: #333333;
}

.collapse-border-color {
  border-top: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  margin-left: 1rem;
  margin-right: 1rem;
}

h5 {
  font-family: 'Raleway', sans-serif;
}

.scrollable {
  margin-top: 20px;
  height: 100%;
  overflow-y: auto;
}
